body {
    display: flex;
    flex-direction: column; /* расположение сверху вниз */
    justify-content: center; /* центрируем по горизонтали */
    align-items: center;     /* центрируем по вертикали */
    height: 100vh;
    background-color: #002432;
    margin: 0;
    font-family: sans-serif;
    position: relative; /* нужно для абсолютного позиционирования заголовка */
}

.page-title1 {
    top: 10px; /* отступ сверху */
    left: 50%;
    transform: translateX(-50%); /* центрируем по горизонтали */
    color: #004e6d;
    font-size: 45px;
    font-weight: bold;
}

.page-title2 {
    margin-top: 0px;
    margin-bottom: 50px;
    color: #00374d;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.container {
    display: flex;
    gap: 40px; /* расстояние между кнопками */
}

.btn {
    display: inline-block;
    padding: 30px 60px;
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    transition: transform 0.2s, opacity 0.2s;
}

.btn:hover {
    transform: scale(1.05);
    opacity: 0.9;
}

.btn-frag {
    background-color: #e74c3c; /* красная кнопка */
}

.btn-vert {
    background-color: #3498db; /* синяя кнопка */
}


/* Блок с прокруткой */
.scroll-container {
    width: 300px;
    height: auto;
    background-color: #00141c; /* темнее фона страницы */
    overflow-y: auto;
    padding: 10px;
    padding-bottom: 0;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

/* Стили кнопок-блоков */
.button-block {
    display: block;
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    background-color: #004d61;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    transition: background-color 0.2s;
}

a {
  text-decoration: none;
}

.button-block:hover {
    background-color: #007896;
}

.button-new {
    background-color: #25a554;
}
.button-new:hover {
    background-color: #2fd16a;
}
